@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* { box-sizing: border-box; }

table.full-width { width: 100%; }

th.mat-header-cell, td.mat-cell {
  padding: 8px 12px !important;
}
